<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Contactos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<link href="/resources/css/ferromex.css" th:href="@{/resources/css/ferromex.css}"
	rel="stylesheet" type="text/css" media="all"></link>
</head>
<body>
<div id="contenedor">
<div th:include="layout :: head"></div>
	<div id="contenido">
	  <div id="principal">	
		<div class="articulo">
			<h2 th:text="#{etiq.cabecero.contactos}">Contactos</h2>
			<div class="clear"></div>
			<div class="info">	
				<table id="t1" class="default table-autosort table-autofilter table-autopage:10 table-stripeclass:alternate table-page-number:t1page table-page-count:t1pages table-filtered-rowcount:t1filtercount table-rowcount:t1allcount">  
					<thead>
					   <tr>
					   	   <th colspan="13" align="center" th:text="${proveedor.razonSocial}">razonSocial</th>
					   </tr>
					   <tr>  
					       <th th:text="#{thead.idContacto}"  class="table-sortable:default" width="10px" align="left">Id Contacto</th>
					       <th th:text="#{thead.nombre}"  class="table-filterable table-sortable:default" width="100px" align="left">Nombre</th>  
					       <th th:text="#{thead.apPaterno}"  class="table-filterable table-sortable:default" width="100px" align="left">ApellidoP</th>  
					       <th th:text="#{thead.apMaterno}"  class="table-filterable table-sortable:default" width="100px" align="left">ApellidoM</th>  
					       <th th:text="#{thead.email}"  class="table-sortable:default" width="50px" align="left">Email</th>
					       <th th:text="#{thead.email2}"  class="table-sortable:default" width="50px" align="left">Email</th>  
					       <th th:text="#{thead.email3}"  class="table-sortable:default" width="50px" align="left">Email</th>  
					       <th th:text="#{thead.email4}"  class="table-sortable:default" width="50px" align="left">Email</th>    
					       <th th:text="#{thead.telOficina}"  class="table-sortable:default" width="30px" align="left">TelOficina</th>  
					       <th th:text="#{thead.movil1}"  class="table-sortable:default" width="30px" align="left">Movil1</th>  
					       <th th:text="#{thead.movil2}"  class="table-sortable:default" width="30px" align="left">Movil2</th>
					       <th th:text="#{thead.principal}"  class="table-sortable:default" width="50px" align="left">Principal</th>
					       <th width="50px" align="left"></th>    
					   </tr>  
					</thead>  
					<tbody>  
					   <tr th:each="cto : ${contactos}">  
					   	   <td th:text="${#numbers.formatInteger(cto.idContacto,3)}"></td>
					       <td th:text="${cto.nombreContacto}">Nombre</td>
					       <td th:text="${cto.apPaterno}">Apellido P</td>
					       <td th:text="${cto.apMaterno}">Appelido M</td>
					       <td th:text="${cto.email}">Email</td>
					       <td th:text="${cto.email2}">Email</td>
					       <td th:text="${cto.email3}">Email</td>
					       <td th:text="${cto.email4}">Email</td>
					       <td th:text="${cto.telOficina}">Tel Oficina</td>
					       <td th:text="${cto.movil1}">Movil 1</td>
					       <td th:text="${cto.movil2}">Movil 2</td>
					       <td th:text="(${cto.principal} == Y) ? #{thead.principalSi} : #{thead.principalNo}"></td>
					       <td>
						   		<!--a href="#" th:href="@{/eliminarcontacto.htm(idContacto=${cto.idContacto}, idProveedor=${proveedor.idProveedor})}">Eliminar</a--> 
								<a href="#" th:href="@{/actualizarcontacto.htm(idContacto=${cto.idContacto})}">Editar</a>
						   </td>					       
					       
					   </tr> 
					</tbody>  
					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="table-page:previous" style="cursor:pointer;">
								&lt; &lt; Anterior
							</td>
							<td colspan="11" style="text-align:center;">
								Paginacion <span id="t1page"></span>&nbsp;of <span id="t1pages"></span>
							</td>
							<td class="table-page:next" style="cursor:pointer;">Proximo &gt; &gt;</td>
						</tr>
						<tr>
							<td colspan="13"><span id="t1filtercount">
								</span>&nbsp;de <span id="t1allcount">
								</span>&nbsp;registros
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="clear"></div>
				<div class="clear"><a th:href="@{/nuevocontacto.htm}">Nuevo Contacto</a></div>
				<div class="clear"><a th:href="@{/proveedores.htm}">Proveedores</a></div>
			 </div>
		</div>
	  </div>
	  <div class="clear"></div>
	  	
	</div>			  
	<div th:include="layout :: foot"></div>
</div>
</body>
</html>