<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Documentos Oficiales</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<link href="/resources/css/ferromex.css" th:href="@{/resources/css/ferromex.css}"
	rel="stylesheet" type="text/css" media="all"></link>
</head>
<body>
<div id="contenedor">
<div th:include="layout :: head"></div>
	<div id="contenido">
	  <div id="principal">	
		<div class="articulo">
			<h2 th:text="#{etiq.cabecero.docs}">Documentos Oficiales</h2>
			<div class="clear"></div>
			<div class="info">	
				<table id="documentosGBIP" class="default table-autosort table-autofilter table-autopage:10 table-stripeclass:alternate table-page-number:t1page table-page-count:t1pages table-filtered-rowcount:t1filtercount table-rowcount:t1allcount">  
					<thead>  
					   <tr>  
							<th th:text="#{thead.idDoc}" class="table-sortable:default" width="10px" align="left" >IdDocumento</th>
							<th th:text="#{thead.folio}" class="table-sortable:default" width="50px" align="left" >Folio</th>
							<th th:text="#{thead.empresa}" class="table-filterable table-sortable:default" width="100px" align="left">Empresa</th>
							<th th:text="#{thead.fecha}" class="table-filterable table-sortable:date" width="30px" align="left">Fecha</th>
							<th th:text="#{thead.tipoDoc}" class="table-filterable table-sortable:default" width="50px" align="left">Tipo</th>
							<th th:text="#{thead.tipoContrato}" class="table-filterable table-sortable:default" width="50px" align="left">TipoContrato</th>
							<th th:text="#{thead.proveedor}" class="table-filterable table-sortable:default" width="100px" align="left">Proveedor</th>
							<th th:text="#{thead.dirigido}" class="table-filterable table-sortable:default" width="100px" align="left">Dirigido A</th>
							<th th:text="#{thead.proyecto}" class="table-filterable table-sortable:default" width="50px" align="left">Proyecto</th>
							<th th:text="#{thead.elaboro}" class="table-filterable table-sortable:default" width="100px" align="left">Elaboro</th>
							<th th:text="#{thead.observaciones}" >Observaciones</th>
					   </tr>    
					</thead>  
					<tbody>  
					   <tr th:each="docs : ${docsOficiales}">  
					       <td th:text="${#numbers.formatInteger(docs.idDocumento,3)}"></td>
					       <td th:text="${docs.folio}"></td>
					       <td>
					       	<span th:each="emp : ${empresas}">
								<span th:if="${emp.idEmpresa} == ${docs.empresa}" th:text="${emp.nombreEmpresa}">
						       		Nombre de Empresa</span>
						    </span>   	
					       </td>
						   <td class="fecha" th:text="${docs.fechaElaboracion}"></td>
					       <td>
					       	<span th:each="tdoc : ${tipoDoc}"> 
					       		<span th:if="${tdoc.idTipoDocumento} == ${docs.tipoDocumento}" th:text="${tdoc.nombreTipoDocumento}">
					       		Tipo Documento</span> 
					       	</span>
					       </td>
					       <td th:text="${docs.tipoObra}"></td>
					       <td>
					       	<span th:each="prov : ${proveedores}"> 
					       		<span th:if="${prov.idProveedor} == ${docs.idProveedor}" th:text="${prov.razonSocial}">
					       		 	Proveedor</span> 
					       	</span>
					       </td>
					       <td th:text="${docs.dirigidoA}"></td>
					       <td>
					       	<span th:each="proy : ${proyectos}"> 
					       		<span th:if="${proy.idProyecto} == ${docs.proyecto}" th:text="${proy.nombreProyecto}">
					       		 	Proyecto</span> 
					       	</span>
					       </td>
					       <td>
					       	<span th:each="resp : ${responsables}">
					       		<span th:if="${resp.idResponsable} == ${docs.elaboro}" th:text="${resp.nombreResponsable +' '+ resp.apPaternoResp +' '+ resp.apMaternoResp}">
					       		 Responsable</span>
					       	</span>	
					       </td>
					       <td th:text="${docs.observaciones}"></td>
					   </tr> 
					</tbody>  
					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="table-page:previous" style="cursor:pointer;">
								&lt; &lt; Anterior
							</td>
							<td colspan="9" style="text-align:center;">
								Paginacion <span id="t1page"></span>&nbsp;of <span id="t1pages"></span>
							</td>
							<td class="table-page:next" style="cursor:pointer;">Proximo &gt; &gt;</td>
						</tr>
						<tr>
							<td colspan="12"><span id="t1filtercount">
								</span>&nbsp;de <span id="t1allcount">
								</span>&nbsp;registros
							</td>
						</tr>
					</tfoot>
				</table>
				<a th:href="@{/nuevodocoficial.htm}">Nuevo Documento</a>
			 </div>
		</div>
	  </div>
	  <div class="clear"></div>
	</div>			  
	<div th:include="layout :: foot"></div>
</div>
</body>
</html>