<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Responsables</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../../resources/css/ferromex.css" th:href="@{/resources/css/ferromex.css}" rel="stylesheet" type="text/css" media="all"></link>
	<link href="../../resources/css/table.css" th:href="@{/resources/css/table.css}" rel="stylesheet" type="text/css" media="all"></link>
</head>
<body>
<div id="contenedor">
<div th:include="layout :: head"></div>
	<div id="contenido">
	  <div id="principal">	
		<div class="articulo">
			<h2 th:text="#{etiq.cabecero.responsables}">Responsables</h2>
			<div class="clear"></div>
			<div class="info">	
				<table id="t1" class="default table-autosort table-autofilter table-autopage:10 table-stripeclass:alternate table-page-number:t1page table-page-count:t1pages table-filtered-rowcount:t1filtercount table-rowcount:t1allcount" style=" width : 750px;">  
					<thead>  
					   <tr>  
					       <th th:text="#{thead.idResp}" class="table-sortable:default" width="10px" align="left">Id Responsable</th>  
					       <th th:text="#{thead.nombre}" class="table-sortable:default" width="100px" align="left">Nombre</th>
					       <th th:text="#{thead.apPaterno}" class="table-sortable:default" width="100px" align="left">Apellido Paterno</th>
					       <th th:text="#{thead.apMaterno}" class="table-sortable:default" width="100px" align="left">Apellido Materno</th>  
					   </tr>  
					</thead>  
					<tbody>  
					   <tr th:each="resp : ${responsables}">  
					       <td th:text="${resp.idResponsable}"></td>
					       <td th:text="${resp.nombreResponsable}"></td>  
					       <td th:text="${resp.ApPaternoResp}"></td>
					       <td th:text="${resp.ApMaternoResp}"></td>
					   </tr> 
					</tbody>  
<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td class="table-page:previous" style="cursor:pointer;">
								&lt; &lt; Anterior
							</td>
							<td colspan="2" style="text-align:center;">
								Paginacion <span id="t1page"></span>&nbsp;of <span id="t1pages"></span>
							</td>
							<td class="table-page:next" style="cursor:pointer;">Proximo &gt; &gt;</td>
						</tr>
						<tr>
							<td colspan="4"><span id="t1filtercount">
								</span>&nbsp;de <span id="t1allcount">
								</span>&nbsp;registros
							</td>
						</tr>
					</tfoot>
				</table>
			 </div>
		</div>
	  </div>
	  <div class="clear"></div>
	</div>			  
	<div th:include="layout :: foot"></div>
</div>
</body>
</html>