<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../../resources/css/ferromex.css" th:href="@{/resources/css/ferromex.css}" rel="stylesheet" type="text/css" media="all"></link>
	<link href="../../resources/css/table.css" th:href="@{/resources/css/table.css}" rel="stylesheet" type="text/css" media="all"></link>
	<link href="../../resources/css/jsmodal-light.css" th:href="@{/resources/css/jsmodal-light.css}" rel="stylesheet" type="text/css" media="all"></link>
</head>
<body>
<div id="contenedor">
<div th:include="layout :: head"></div>
	<div id="contenido">
	  <div id="principal">	
		<div class="articulo">
			<h2 >Login</h2>
			<div class="clear"></div>
			<div class="info">	
        <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form th:action="@{/j_spring_security_check}" method="post">
            <label for="j_username">Username</label>:
            <input type="text" id="j_username" name="j_username" autofocus="autofocus" /> <br />
            <label for="j_password">Password</label>:
            <input type="password" id="j_password" name="j_password" /> <br />
            <input type="submit" value="Log in" />
        </form>
<div class="clear"></div>
				<div class="clear"><a th:href="@{/nuevoproyecto.htm}">Nuevo Proyecto</a></div>
			 </div>
		</div>
	  </div>
	  <div class="clear"></div>
	</div>		
	</div>	  
	<div th:include="layout :: foot"></div>
    </body>
</html>
