<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../../resources/css/ferromex.css" th:href="@{/resources/css/ferromex.css}" rel="stylesheet" type="text/css" media="all"></link>
	<link href="../../resources/css/table.css" th:href="@{/resources/css/table.css}" rel="stylesheet" type="text/css" media="all"></link>
	<link href="../../resources/css/jsmodal-light.css" th:href="@{/resources/css/jsmodal-light.css}" rel="stylesheet" type="text/css" media="all"></link>
</head>
<body>
<div id="contenedor">
<div th:include="layout :: head"></div>
	<div id="contenido">
	  <div id="principal">	
		<div class="articulo">
			<h2 >Login</h2>
			<div class="clear"></div>
			<div>
        		<p th:if="${esValido} == 1" th:text="#{msg.loginfail}" class="error">Fallo en el login</p>
        	</div>	
			<div class="info">	
        		<form method="post">
			         <label for="username">Username</label>:
			         <input type="text" th:name="name" autofocus="autofocus" /> <br />
			         <label for="password">Password</label>:
			         <input type="password" th:name="pass" /> <br />
			         <input type="submit" value="Log in" formaction="validar-login.htm"/>
			    </form>
				<div class="clear"></div>
			 </div>
		</div>
	  </div>
	  <div class="clear"></div>
	</div>		
	</div>	  
	<div th:include="layout :: foot"></div>
    </body>
</html>
