<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Responsables</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<link href="/resources/css/ferromex.css" th:href="@{/resources/css/ferromex.css}"
	rel="stylesheet" type="text/css" media="all"></link>
</head>
<body>
<div id="contenedor">
<div th:include="layout :: head"></div>
	<div id="contenido">
	  <div id="principal">	
		<div class="articulo">
			<h2 th:text="#{etiq.cabecero.proveedores}">Proveedores</h2>
			<div class="clear"></div>
			<div class="info">
				<table id="t1" class="default table-autosort table-autofilter table-autopage:10 table-stripeclass:alternate table-page-number:t1page table-page-count:t1pages table-filtered-rowcount:t1filtercount table-rowcount:t1allcount">  
					<thead>
					   <tr>
					       <th th:text="#{thead.idProveedor}" class="table-sortable:default" width="10px" align="left">IdProveedor</th>
					       <th th:text="#{thead.razonSocial}" class="table-sortable:default" width="150px" align="left">RazonSoc</th>  
					       <!-- 
					       <th th:text="#{thead.domFiscal}" class="table-sortable:default" width="150px" align="left">domFiscal</th>  
					       <th th:text="#{thead.domCorresp}" class="table-sortable:default" width="150px" align="left">domCorresp</th>
					       -->  
					       <th th:text="#{thead.regAbast}" class="table-sortable:default" width="50px" align="left">regAbast</th>  
					       <th th:text="#{thead.regProy}" class="table-sortable:default" width="50px" align="left">regProy</th>  
					       <th th:text="#{thead.zona}" class="table-filterable table-sortable:default" width="50px" align="left">zona</th>  
					       <th th:text="#{thead.obras}" class="table-filterable table-sortable:default" width="50px" align="left">obras</th>
					       <th th:text="#{thead.contactos}" class="table-sortable:default" width="50px" align="left">Contactos</th>
					       <th width="50px" align="left">Editar</th>   
					   </tr>  
					</thead>
					<tbody>
					   <tr th:each="prov : ${proveedores}"> 
					   	   <td th:text="${#numbers.formatInteger(prov.idProveedor,3)}"></td> 
					       <td th:text="${prov.razonSocial}">razonSocial</td>
					       <!-- 
					       <td th:text="${prov.domicilioFiscal}">dom Fiscal</td>
					       <td th:text="${prov.domCorrespondencia}">dom Corresp</td>
					        -->
					       <td th:text="${prov.registroAbast}"> reg Abast</td>
					       <td th:text="${prov.registroProyectos}">reg proy</td>
					       <td th:text="${prov.zonap.zona}">zona</td>
					       <td>
					       	<span th:each="obrap : ${prov.obras}">
					       		<div>
						       		<span th:each="tobra : ${tipoObras}">
										<span th:if="${obrap.idObra} == ${tobra.idObra}" th:text="${tobra.obra}">Obras</span>
									</span>
								</div>
						    </span>   	
					       </td>
						   <td>
								<a href="#" th:href="@{/contactos.htm(idProveedor=${prov.idProveedor})}">Contactos</a>
						   </td>					       
						   <td>
						   		<!-- a href="#" th:href="@{/eliminarproveedor.htm(idProveedor=${prov.idProveedor})}">Eliminar</a--> 
								
								<a href="#" th:href="@{/actualizarproveedor.htm(idProveedor=${prov.idProveedor})}">Editar</a>
								
								<!--
							    <div id="boton-accion">
							    	<a href='#' th:href="@{/actualizarproveedor.htm(idProveedor=${prov.idProveedor})}" class="boton-editar" ></a>
							    </div>
							    -->
						   </td>
					   </tr>
					</tbody>
					<tfoot>
						<tr>
							<td class="table-page:previous" style="cursor:pointer;" colspan="2">
								&lt; &lt; Anterior
							</td>
							<td colspan="4" style="text-align:center;">
								Paginaci&oacute;n <span id="t1page"></span>&nbsp;of <span id="t1pages"></span>
							</td>
							<td class="table-page:next" style="cursor:pointer;" colspan="2">Pr&oacute;ximo &gt; &gt;</td>
						</tr>
						<tr>
							<td colspan="8"><span id="t1filtercount">
								</span>&nbsp;de <span id="t1allcount">
								</span>&nbsp;registros
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="clear"></div>
				<div class="clear"><a th:href="@{/nuevoproveedor.htm}">Nuevo Proveedor</a></div>
			 </div>
		</div>
	  </div>
	  <div class="clear"></div>
	  	
	</div>			  
	<div th:include="layout :: foot"></div>
</div>
</body>
</html>