<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Proyectos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../../resources/css/ferromex.css" th:href="@{/resources/css/ferromex.css}" rel="stylesheet" type="text/css" media="all"></link>
	<link href="../../resources/css/table.css" th:href="@{/resources/css/table.css}" rel="stylesheet" type="text/css" media="all"></link>
	<link href="../../resources/css/jsmodal-light.css" th:href="@{/resources/css/jsmodal-light.css}" rel="stylesheet" type="text/css" media="all"></link>
</head>
<body>
<div id="contenedor">
<div th:include="layout :: head"></div>
	<div id="contenido">
	  <div id="principal">	
		<div class="articulo">
			<h2 th:text="#{etiq.cabecero.proyectos}">proyectos</h2>
			<div class="clear"></div>
			<div class="info">	
				<table id="t1" class="default table-autosort table-autofilter table-autopage:10 table-stripeclass:alternate table-page-number:t1page table-page-count:t1pages table-filtered-rowcount:t1filtercount table-rowcount:t1allcount" style=" width : 750px;">  
					<thead>  
					   <tr>  
					       <th th:text="#{thead.idProyecto}" class="table-sortable:default" width="10px" align="left">idProyecto</th>
					       <!--
					       <th th:text="#{thead.idCarpeta}" class="table-sortable:default" width="10px" align="left">idCarpeta</th>
					       -->  
					       <th th:text="#{thead.empresa}" class="table-filterable table-sortable:default" width="50px" align="left">empresa</th>  
					       <th th:text="#{thead.nombreProyecto}" class="table-sortable:default" width="70px" align="left">nombreProyecto</th>  
					       <!-- <th th:text="#{thead.nombreCorto}" class="table-sortable:default" width="100px" align="left">nombreCorto</th> -->  
					       <th th:text="#{thead.tipoObra}" class="table-filterable table-sortable:default" width="50px" align="left">tipoObra</th>  
					       <!-- <th th:text="#{thead.origenProyecto}" class="table-filterable table-sortable:default" width="50px" align="left">origenProyecto</th> -->  
					       <th th:text="#{thead.division}" class="table-filterable table-sortable:default" width="50px" align="left">division</th>
					       <!-- 
					       <th th:text="#{thead.fechaRecepcion}" class="table-filterable table-sortable:date" width="50px" align="left">fechaRecepcion</th>
					       <th th:text="#{thead.presupuesto}" class="table-sortable:default" width="50px">presupuesto</th>
					       <th th:text="#{thead.elementoPEP}" class="table-filterable table-sortable:default" width="50px" align="left">elementoPEP</th> 
					       <th th:text="#{thead.centroCostos}" class="table-filterable table-sortable:default" width="50px" align="left">centroCostos</th> 
					       <th th:text="#{thead.solicitudInversion}" class="table-filterable table-sortable:default" width="50px" align="left">solicitudInversion</th> 
					       <th th:text="#{thead.fechaEntregaSAI}" class="table-filterable table-sortable:date" width="50px" align="left">fechaEntregaSAI</th>
					       <th th:text="#{thead.solicitudSAP}" class="table-sortable:default" width="50px" align="left">solicitudSAP</th>  
						   <th th:text="#{thead.inicioEstimado}" class="table-filterable table-sortable:date" width="50px" align="left">inicioEstimado</th> 
						   <th th:text="#{thead.finEstimado}" class="table-filterable table-sortable:date" width="50px" align="left">finEstimado</th> 
						   <th th:text="#{thead.duracionProy}" class="table-filterable table-sortable:default" width="50px" align="left">duracionProy</th> 
						   <th th:text="#{thead.inicioReal}" class="table-filterable table-sortable:default" width="50px" align="left">inicioReal</th> 
						   <th th:text="#{thead.finReal}" class="table-filterable table-sortable:default" width="50px" align="left">finReal</th>
					        --> 
					        <th width="10px" align="left">Detalle</th>
					   </tr>  
					</thead>  
					<tbody>  
					   <tr th:each="proy : ${proyectos}">  
					   	   <td>
						   		<a href="#" th:href="@{/registrarFechas.htm(idProyecto=${proy.idProyecto})}">
						   			<span th:text="${#numbers.formatInteger(proy.idProyecto,3)}">idProyecto</span>
						   		</a>
						   </td>
						    <!-- 
					       <td th:text="${proy.idCarpeta}">idCarpeta</td>
					          -->
					       <td>
					       	<span th:each="emp : ${empresas}">
								<span th:if="${emp.idEmpresa} == ${proy.empresa}" th:text="${emp.nombreEmpresa}">empresa</span>
						    </span>   	
					       </td>
					       <td th:text="${proy.nombreProyecto}">nombreProyecto</td>  
					       <!-- <td th:text="${proy.nombreCorto}">nombreCorto</td> -->
					       <td>
					       	<span th:each="tobra : ${tobras}">
								<span th:if="${tobra.idObra} == ${proy.tipoObra}" th:text="${tobra.obra}">tipoObra</span>
						    </span>
					       </td>
					       <!-- 
					       <td>
					       	<span th:each="origenp : ${origen}">
								<span th:if="${origenp.origenProyectoId} == ${proy.origenProyecto}" th:text="${origenp.origenProyectoNombre}">origenProyecto</span>
						    </span>   	
					       </td>
					        -->
					       <td>
					       	<span th:each="divs : ${divisiones}">
								<span th:if="${divs.idDivision} == ${proy.division}" th:text="${divs.nombreDivision}">division</span>
						    </span>   	
					       </td>
					       <!--
					       <td th:text="${proy.fechaRecepcion}">fechaRecepcion</td>
					      <td th:text="${proy.presupuesto}">presupuesto</td> 
					       <td th:text="${proy.elementoPEP}">elementoPEP</td> 
					       <td th:text="${proy.centroCostos}">centroCostos</td> 
					       <td th:text="(${proy.solicitudInversion} == Y) ? #{thead.principalSi} : #{thead.principalNo}"></td>
					       <td th:text="${proy.fechaEntregaSAI}">fechaEntregaSAI</td>
					       <td th:text="${proy.solicitudSAP}">solicitudSAP</td>  
					       <td th:text="${proy.inicioEstimado}">inicioEstimado</td> 
					       <td th:text="${proy.finEstimado}">finEstimado</td> 
					       <td th:text="${proy.duracionProy}">duracionProy</td> 
					       <td th:text="${proy.inicioReal}">inicioReal</td> 
					       <td th:text="${proy.finReal}">finReal</td>
					        -->
							<td>
							
							    <!-- 
							    <img src="../../resources/img/icons/lupa_mas.png" th:src="@{/resources/img/icons/lupa_mas.png}" width="35px" height="35px"/>
							    <a href='#' th:href="@{/detalleproyecto.htm(idProyecto=${proy.idProyecto})}" >Detalle</a>
							    -->
							    <a href="#" th:href="'javascript:verDetalleProyecto(\'' + @{/detalleproyecto.htm(idProyecto=${proy.idProyecto})} + '\');'" >Detalle</a>
							    	
							</td>
					   </tr> 
					</tbody>  
					<tfoot>
						<tr>
							<td class="table-page:previous" style="cursor:pointer;" colspan="2">
								&lt; &lt; Anterior
							</td>
							<td colspan="2" style="text-align:center;">
								Paginaci&oacute;n <span id="t1page"></span>&nbsp;of <span id="t1pages"></span>
							</td>
							<td class="table-page:next" style="cursor:pointer;" colspan="2">Pr&oacute;ximo &gt; &gt;</td>
						</tr>
						<tr>
							<td colspan="6"><span id="t1filtercount">
								</span>&nbsp;de <span id="t1allcount">
								</span>&nbsp;registros
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="clear"></div>
				<div class="clear"><a th:href="@{/nuevoproyecto.htm}">Nuevo Proyecto</a></div>
			 </div>
		</div>
	  </div>
	  <div class="clear"></div>
	</div>			  
	<script type="text/javascript" src="/resources/js/jsmodal-1.0d.js" th:src="@{/resources/js/jsmodal-1.0d.js}"></script>
	<div th:include="layout :: foot"></div>
</div>
</body>
</html>