<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fechas Estimadas</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../../resources/css/ferromex.css" th:href="@{/resources/css/ferromex.css}" rel="stylesheet" type="text/css" media="all"></link>
	<link href="../../resources/css/table.css" th:href="@{/resources/css/table.css}" rel="stylesheet" type="text/css" media="all"></link>
</head>
<body>
<div id="contenedor">
<div th:include="layout :: head"></div>
	<div id="contenido">
	  <div id="principal">	
		<div class="articulo">
			<h2 th:text="#{etiq.cabecero.registroFechas}">Fechas Estimadas</h2>
			<div class="clear"></div>
			<div class="info">	
			  <form method="post">
				<table id="t1" class="default table-autosort table-autofilter table-autopage:10 table-stripeclass:alternate table-page-number:t1page table-page-count:t1pages table-filtered-rowcount:t1filtercount table-rowcount:t1allcount">  
					<thead>
						<tr>
							<th colspan="5" align="center" th:text="${proyecto.nombreProyecto}">nombreProyecto</th>
						</tr>
					</thead>
					<tbody>  
					   <tr>
					   	   <td th:text="#{thead.idCarpeta}">Carpeta</td>
					   	   <td th:text="${proyecto.idCarpeta}">carpeta</td>
					   	   <td th:text="#{thead.nombreProyecto}">nombreProyecto</td>
					   	   <td th:text="${proyecto.nombreProyecto}">nombreProyecto</td>
					       <td>
					       	<span th:each="estatusp : ${estProyectos}">
								<span th:if="${estatusp.idEstatus} == ${proyecto.estatusProyecto}" th:text="${estatusp.estatus}">estatusProyecto</span>
								<img th:if="${estatusp.idEstatus  == 2}" src="../../resources/img/red_bullet_1.jpg" th:src="@{/resources/img/red_bullet_1.jpg}"/>
								<img th:if="${estatusp.idEstatus  == 1}" src="../../resources/img/yellow_bullet_1.jpg" th:src="@{/resources/img/yellow_bullet_1.jpg}"/>
								<img th:if="${estatusp.idEstatus == 3} " src="../../resources/img/green_bullet_1.jpg" th:src="@{/resources/img/green_bullet_1.jpg}"/>
								<span th:if="${estatusp.idEstatus} == ${proyecto.estatusProyecto}" th:text="${estatusp.idEstatus}">estatusProyecto</span>
						    </span>
						   </td>    	
					   </tr>  
					   <tr>  
					       <th align="center" colspan="8" th:text="#{thead.fechasEstimadas}">Fechas Estimadas</th>
					   </tr>
					   <tr>    
							<td th:text="#{thead.fechEstInvitacion}">fechEstInvitacion</td>
							<td th:text="#{thead.fechEstVisitaObra}">fechEstVisitaObra</td>
							<td th:text="#{thead.fechEstPreguntas}">fechEstPreguntas</td>
							<td th:text="#{thead.fechEstRespuestas}" colspan="2"> fechEstRespuestas</td>
						</tr>
						<tr>
						  	<td><input type="date" name="fechaEstInvitacion" th:value="${proyecto.fechEstInvitacion}"/></td>
						  	<td><input type="date" name="fechaEstVisitaObra" th:value="${proyecto.fechEstVisitaObra}"/></td>
							<td><input type="date" name="fechaEstPreguntas" th:value="${proyecto.fechEstPreguntas}"/></td>
							<td colspan="2"><input type="date" name="fechaEstRespuestas" th:value="${proyecto.fechEstRespuestas}"/></td>
					   </tr>
					   <tr>
					   		<td th:text="#{thead.fechEstPropuestas}">fechEstPropuestas</td>
							<td th:text="#{thead.fechEstRevisionTecnica}">fechEstRevisionTecnica</td>
							<td th:text="#{thead.fechEstChecklistTec}">fechEstChecklistTec</td>
							<td th:text="#{thead.fechEstCartaIntencion}" colspan="2">fechEstCartaIntencion</td>
					   </tr>
					   <tr>
							<td><input type="date" name="fechaEstPropuestas" th:value="${proyecto.fechEstPropuestas}"/></td>
							<td><input type="date" name="fechaEstRevisionTecnica" th:value="${proyecto.fechEstRevisionTecnica}"/></td>
							<td><input type="date" name="fechaEstChecklistTec" th:value="${proyecto.fechEstChecklistTec}"/></td>
							<td colspan="2"><input type="date" name="fechaEstCartaIntencion" th:value="${proyecto.fechEstCartaIntencion}"/></td>
					   </tr>
				   </tbody>
					<tfoot>
						<tr>
							<td colspan="8">
							<span>&nbsp;</span>
							</td>
						</tr>
					</tfoot>
				</table>
				  	<input type="submit" value="Actualiza" th:attr="value=#{boton.registrarFechas}" formaction="registrarfechas.htm"/>
				    <input type="submit" value="Cancela" th:attr="value=#{boton.cancelar}" formaction="proyectos.htm"/>
				</form>
				<div class="clear"></div>
			 </div>
		</div>
	  </div>
	  <div class="clear"></div>
	</div>			  
	<div th:include="layout :: foot"></div>
</div>
</body>
</html>